html {
    scroll-behavior: smooth;
}

body {
    background: none;
    background-color: #070B18;
    background-size: cover;
    color: #fff;
    padding-top: 0;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #070B18;
    z-index: 4;
    margin-bottom: 0;
    height: 80px;
}

.header.fixed {
    background: #070B18;
}

.header.fixed .start-game {
    display: none;
}

.subtitle {
    font-size: 20px;
}

.christmas-page .main {
    background-size: cover;
    background-position: top;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.christmas-page .main:after {
    content: '';
    background: linear-gradient(180deg, rgba(7, 11, 24, 0.00) 0%, rgba(7, 11, 24, 0.61) 42.08%, #070B18 100%);
    height: 32px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.christmas-page .main .video {
    width: 100vw;
    height: calc(100vh - 80px);
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    z-index: -1;
}

.christmas-page .main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.christmas-page .main__header {
    background-image: url(../img/christmas/main-bg.png);
    background-size: 100% 100%;
    margin-bottom: 62px;
    max-width: max-content;
}

.christmas-page .main__header:after {
    content: '';
    border-radius: 803px;
    background: rgba(7, 11, 24, 0.60);
    filter: blur(75px);
    width: 100%;
    height: 140%;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.christmas-page .main__header>* {
    z-index: 1;
    position: relative;
}

.christmas-page .main .container {
    margin-top: auto;
    margin-bottom: 50px;
}

.main__header .btn-wrapper {
    margin: 0;
    margin-top: 42px;
}

@media screen and (min-height: 1100px) {
    .christmas-page .main__header {
        margin-bottom: 10vh;
    }
}

.main__content {
    position: relative;
    margin: 0 auto;
    margin-bottom: 42px;

}

.h1-title {
    margin-bottom: 8px;
    font-size: 50px;
}

.btn-wrapper {
    text-align: center;
    transition: .4s opacity;
    margin-bottom: 60px;
}

.christmas-page .h1-title,
.christmas-page .h2-title {
    font-family: 'TrajanSansPro-SemiBold';
}

.timer {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
}

.timer-text {
    color: #FFF;
    font-family: 'TrajanSansPro-SemiBold';
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    margin-right: 16px;
    z-index: 0;
}

.timer-countdown {
    display: flex;
    gap: 8px;
}

.timer-block {
    width: 62px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background: rgba(5, 9, 22, 0.40);
    backdrop-filter: blur(11px);
    gap: 1px;
}

.title-count {
    color: #FFF2DB;
    text-align: center;
    font-family: 'TrajanSansPro-SemiBold';
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}

.sub-count {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: 'Manrope-Medium';
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
}

/* 2 section */

.type-game {
    background: url(../img/christmas/type-game-1.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    padding-bottom: 180px;
    margin-top: 100px;
}

.type-game:before {
    content: '';
    background: linear-gradient(360deg, rgba(7, 11, 24, 0.00) 0%, rgba(7, 11, 24, 0.60) 42.08%, #070B18 100%);
    position: absolute;
    height: 300px;
    top: -1px;
    left: 0;
    right: -1px;
    z-index: 0;
}

.type-game:after {
    content: '';
    background: linear-gradient(180deg, rgba(7, 11, 24, 0.00) 0%, rgba(7, 11, 24, 0.60) 42.08%, #070B18 100%);
    position: absolute;
    height: 300px;
    bottom: -1px;
    top: auto;
    left: 0;
    right: -1px;
    z-index: 0;
}

.type-game .container {
    position: relative;
    z-index: 2;
}

/* 3 section */
.create-acc {
    background-color: #070B18;
    padding-top: 70px;
}

.bg-image {
    background: linear-gradient(180deg, #070B18 30%, transparent 70%);
}

.btn-orange:active .btn-bordered-box {
    opacity: .9;
}

.btn-orange:hover .btn-bordered-box {
    background: radial-gradient(128% 100% at 50% 0%, #FFAE00 2.6%, #A96600 57.29%, #FF7A00 100%);
}

.btn-group {
    display: flex;
    gap: 20px;
    margin-bottom: 42px;
}

.btn-group .btn-bordered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 16px 0;
}

.account-btn {
    width: 100%;

}

.account-btn .btn-bordered-box {
    padding: 16px 35px;
    justify-content: center;
}

.account-btn span {
    display: flex;
    align-items: center;
    gap: 12px;
}

.account-btn img {
    width: 32px;
    height: 32px;
}

.white-text {
    color: #FFF;
    font-family: 'TrajanSansPro-Bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.find-acc {
    width: 100%;
}

.start-game__footer .btn-bordered-box {
    /* убрать */
    width: 280px;
}

/* friends */
.friends {
    padding-top: 200px;
}

.friends-block {
    gap: 80px;
}

.account-wrapper {
    margin-bottom: 24px;
}

.account-wrapper .block-title {
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px;
}

.discord-block {
    height: 475px !important;
}

.discord-block::after {
    border-radius: 7px;
    left: -1px;
    right: -1px;
}

.account-btn .btn-blue .btn-bordered-box {
    background-image: radial-gradient(268.44% 280.67% at 70% 15.47%, #357DEA 0%, #090F27 67.19%);
}

.account-btn .btn-bordered:after {
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}

.banner__prizes-bg {
    bottom: -130px;
}

.banner__prizes__wrapper {
    max-width: 505px;
    margin: 0 auto;
}

.banner__prizes__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
    font-family: 'TrajanSansPro-SemiBold', sans-serif;
}

.banner__prizes-left {
    position: relative;
}

.banner__prizes__left .subtitle_light {
    margin: 0 auto 40px auto;
}

.banner__prizes-left-img {
    position: absolute;
    left: -70px;
    bottom: -60px;
    max-width: 50%;
}

.social-block {
    max-width: 470px;
}

.block-icons .social-btn .btn-bordered-box {
    padding: 12px 16px;
}

.inst-btn {
    margin: 0;
}

.mini__game {
    position: relative;
    border-radius: 24px;
    width: 100%;
    max-width: 757px;
}

.mini__game:after {
    content: '';
    border-radius: inherit;
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: -1px;
    background: radial-gradient(106.8% 45.71% at 50% 30.71%, #A5DEFE 31.33%, rgba(4, 67, 103, 0.6) 100%);
    width: calc(100% + 2px);
    height: 100%;
}

.game__box {
    z-index: 1;
    position: relative;
    border-radius: 24px;
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 22.04%, #0E93DE 100%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 42px 0;
    height: 100%;
}

.game__wrap {
    padding-top: 12px;
}

.game__box-header {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    padding: 0 32px;
}

.game__box-header:before,
.game__box-header:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-size: cover;
}

.game__box-header:before {
    background-image: url("../img/game_header_border_left.svg");
}

.game__box-header:after {
    background-image: url("../img/game_header_border_right.svg");
}

.game__box-header .icon-chevron-down {
    background-image: url(../img/christmas/icon-chevron-down.svg);
    width: 42px;
    min-width: 42px;
    height: 42px;
    display: inline-block;
}

.mini__game.active .icon-chevron-down {
    background-image: url(../img/christmas/icon-chevron-down-active.svg);
}

.game__box-footer {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 38px;
    padding: 0 32px;
}

.game__box-footer:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-image: url(../img/game_bottom_border.svg);
}

.game__box-btn {
    /* display: flex; */
    justify-content: center;
    max-width: 380px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.game__box-btn .text-bg {
    margin-top: 3px !important;
    display: flex;
    justify-content: center;
}

.game__box-btn.hide {
    display: none;
}

.game__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.game__list-item {
    border-radius: 16px;
    position: relative;
    background-clip: padding-box;
    display: inline-flex;
    align-items: stretch;
    transition: .4s transform, .1s width, .1s height;
}

.game__list-item:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: 0;
    border-radius: 16px;
    transition: .4s opacity;
    opacity: 0;
}

.game__list-item.active:after {
    opacity: 1;
    background: radial-gradient(106.8% 45.71% at 50% 30.71%, #FFE8BD 31.33%, rgba(84, 54, 0, 0.6) 100%);
}

.game__list-item_overlay {
    background: rgba(255, 255, 255, 0.20);
    width: inherit;
    height: inherit;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    position: relative;
    z-index: 2;
    padding: 20px;
    transition: .4s background;
}

.game__box-needreg {
    display: none;
    align-items: center;
    gap: 18px;
    color: #6B758E;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    padding-left: 40px;
}

.game__box-needreg.hide {
    display: none;
}

.game__box-needreg.show {
    display: flex;
}

.btn-bordered-box {
    text-align: center;
}

.mini__game-prize {
    border-radius: 12px;
    position: relative;
    display: none;
}

.mini__game-prize.active {
    display: block;
}

.mini__game-prize:after {
    content: '';
    background: radial-gradient(106.8% 45.71% at 50% 30.71%, #A5DEFE 31.33%, rgba(4, 67, 103, 0.6) 100%);
    border-radius: inherit;
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: 100%;
}

.prize__preview {
    border-radius: 8px;
    border: 1px solid #FFA80A;
    width: 56px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mini__game-prize-overlay {
    position: relative;
    border-radius: inherit;
    z-index: 1;
    padding: 18px;
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 22.04%, #0E93DE 100%);
    display: flex;
    align-items: center;
    gap: 16px;
}

.prize__subtitle {
    color: #FEFEFE;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    opacity: .59;
}

.prize__title {
    margin-top: 4px;
    overflow: hidden;
    color: #FEFEFE;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
}

.prize__title__gold {
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: #FFA80A;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.icon-gift {
    width: 42px;
    height: 42px;
    background-image: url(../img/christmas/icon-gift.svg);
}



.game__list-item.active .game__list-item_overlay {
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 21.48%, #CB8D08 100%),
        radial-gradient(106.8% 45.71% at 50% 30.71%, #FFE8BD 31.33%, rgba(84, 54, 0, 0.6) 100%);
}

.game__list-item img {
    border: 1px solid #FFA80A;
    border-radius: 8px;
}

.roulette {
    overflow: hidden;
}

.roulette__list {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.roulette__prize {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 120px;
}

.roulette__prize:last-child {
    margin-right: 0 !important;
}

.game__box .btn {
    align-self: center;
    width: 100%;
}

.roulette__prize:nth-child(4) .game__list-item {
    width: 120px;
    height: 120px;
}

.roulette__prize:nth-child(3) .game__list-item,
.roulette__prize:nth-child(5) .game__list-item {
    width: 104px;
    height: 104px;
}

.roulette__prize:nth-child(2) .game__list-item,
.roulette__prize:nth-child(6) .game__list-item {
    width: 88px;
    height: 88px;
}

.roulette__prize:nth-child(1) .game__list-item,
.roulette__prize:nth-child(7) .game__list-item {
    width: 72px;
    height: 72px;
}


.roulette__prize:nth-child(1) .game__list-item_overlay,
.roulette__prize:nth-child(7) .game__list-item_overlay {
    opacity: .3;
}

.roulette__prize:nth-child(2) .game__list-item_overlay,
.roulette__prize:nth-child(6) .game__list-item_overlay {
    opacity: .4;
}

.roulette__prize:nth-child(3) .game__list-item_overlay,
.roulette__prize:nth-child(5) .game__list-item_overlay {
    opacity: .6;
}

.roulette__prize:nth-child(4) .game__list-item_overlay {
    opacity: .8;
}

.form__field .icon-question:hover+.tooltip {
    opacity: 1;
    visibility: visible;
}

.tooltip {
    opacity: 0;
    visibility: hidden;
    transition: .4s opacity, .4s visibility;
    position: absolute;
    top: -96px;
    right: -84%;
    z-index: 2;
    background-color: #1F232F;
    border-radius: 16px;
    width: 298px;
    padding: 24px;
    color: #FFF;
    font-family: 'Manrope-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.tooltip .icon-close {
    display: none;
}

.tooltip::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 14px 14px 0 14px;
    border-color: #1F232F transparent transparent transparent;
    transform: rotate(0deg);
    bottom: -13px;
    z-index: 3;
    right: calc(50% - 14px);
    left: auto;
}

.header__nav-item_submenu-container {
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 22.04%, #0E93DE 100%);
}

@media screen and (max-width: 767px) {
    .christmas-page .main__header:after {
        display: none;
    }

    .game__list-item {
        border-radius: 12px;
    }

    .roulette__prize {
        height: 90px;
        margin-right: 10px !important;
    }

    .roulette__prize:last-child {
        margin-right: 0 !important;
    }

    .game__list-item_overlay {
        padding: 16px;
    }

    .game__list-item img {
        border-radius: 6px;
    }

    .roulette__prize:nth-child(4) .game__list-item {
        width: 90px;
        height: 90px;
    }

    .roulette__prize:nth-child(3) .game__list-item,
    .roulette__prize:nth-child(5) .game__list-item {
        width: 78px;
        height: 78px;
    }

    .roulette__prize:nth-child(2) .game__list-item,
    .roulette__prize:nth-child(6) .game__list-item {
        width: 66px;
        height: 66px;
    }

    .roulette__prize:nth-child(1) .game__list-item,
    .roulette__prize:nth-child(7) .game__list-item {
        width: 54px;
        height: 54px;
    }

    .game__box-needreg {
        padding-left: 32px;
        gap: 12px;
        font-size: 14px;
    }

    .game__box .game__box-btn {
        max-width: 295px;
    }

    .icon-gift {
        width: 32px;
        height: 32px;
    }

    .game__box-btn .btn-bordered-box {
        padding: 10px 28px;
    }
}

.registration__account {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: flex-start;
}

.form__registration {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 553px;
    width: 100%;
}

.form__row {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.form__field {
    width: 100%;
    position: relative;
    border-radius: 16px;
}

.recaptcha {
    position: relative;
}

.form__field-prefix {
    max-width: 140px;
}

.form__field:after {
    content: '';
    border-radius: inherit;
    width: calc(100% + 2px);
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: radial-gradient(106.8% 45.71% at 50% 30.71%, #D0DBEB 31.33%, rgba(13, 30, 53, 0.6) 100%);
}

.form__field-input {
    position: relative;
    z-index: 1;
    width: 100%;
    background: linear-gradient(0deg, #0D142D, #0D142D),
        radial-gradient(106.8% 45.71% at 50% 30.71%, #D0DBEB 31.33%, rgba(13, 30, 53, 0.6) 100%);
    border-radius: inherit;
    height: 64px;
    padding-left: 18px;
    outline: none;
    -webkit-appearance: none;
    font-family: 'Manrope-Medium';
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color: #FFF;
}

.form__field-submit {
    width: 100%;
}

.form__field-input::placeholder {
    color: #6B758E;
}

.btn-play {
    border-radius: 20px;
}

.btn-play:after {
    background: radial-gradient(106.8% 45.71% at 50% 30.71%, #A5DEFE 31.33%, rgba(4, 67, 103, 0.6) 100%);
    border-radius: inherit;
}

.btn-play .btn-bordered-box {
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 17.71%, #0E93DE 44.79%),
        radial-gradient(106.8% 45.71% at 50% 30.71%, #A5DEFE 31.33%, rgba(4, 67, 103, 0.6) 100%);
    transition: background .7s ease;
}

.btn-play .btn-bordered-box:hover {
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 8.34%, #0E93DE 37.94%);
    transition: background .7s ease;
}

.btn-play .btn-bordered-box:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), radial-gradient(230.47% 295.42% at 50% 0%, #040815 8.34%, #0E93DE 37.94%);
    transition: background .7s ease;
}

.pass-wrap {
    cursor: pointer;
    transition: .4s opacity;
}

.pass-wrap:hover {
    opacity: .7;
}

.form__field .icon {
    position: absolute;
    right: 20px;
    z-index: 1;
    top: 20px;
    cursor: pointer;
    transition: .4s opacity;
}

.icon-question {
    background-image: url(../img/christmas/icon-question.svg);
    top: 20px;
    cursor: pointer;
    transition: .4s opacity;
}

.icon-question:hover {
    opacity: .7;
}

.pass-wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 64px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pass-wrap .icon {
    position: static;
    transition: none;
}

.icon-show-password {
    background-image: url(../img/christmas/icon-eye.svg);
}

.pass-wrap.active .icon-show-password {
    background-image: url(../img/christmas/icon-eye-close.svg);
}

.mode__list {
    display: flex;
    justify-content: center;
}

.mode__list-item {
    cursor: pointer;
    filter: brightness(.7);
    transition: .4s filter;
}

.mode__list-item:hover {
    filter: brightness(1);
}

.mode__list-item img {
    max-height: 50vh;
}

.mode__slide {
    text-align: center;
    /* transition: all 200ms linear; */
    /* transform: scale(0.7) !important; */
}

.mode__slide img {
    max-height: 70vh;
}

.mode__slide.swiper-slide-active {
    /* transform: scale(1) !important; */
}

.mode__slide:not(.swiper-slide-active) img {
    filter: brightness(0.7);
    position: relative;
}

.mode__slide img,
.mode__slide.swiper-slide-next:first-child img {
    opacity: 0;
}

.mode__slide.swiper-slide-next img,
.mode__slide.swiper-slide-prev img,
.mode__slide.swiper-slide-active img {
    opacity: 1;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none !important;
}

.overflow-hidden {
    overflow: hidden;
}

.icon-arrow-back {
    background-image: url(../img/christmas/icon-arrow-back.svg);
}

.icon-close {
    width: 42px;
    height: 42px;
    background-image: url(../img/christmas/icon-close.svg);
}

.icon-arrow-left {
    width: 80px;
    height: 80px;
    background-image: url(../img/christmas/icon-arrow-left.svg);
}

.icon-arrow-right {
    width: 80px;
    height: 80px;
    background-image: url(../img/christmas/icon-arrow-right.svg);
}

.popup__back {
    position: absolute;
    left: 0;
    color: #FFC039;
    font-family: 'TrajanSansPro-Bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: .4s opacity;
}

.popup__back:hover {
    opacity: .7;
}

.popup__close {
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: .4s opacity;
}

.popup__close:hover {
    opacity: .7;
}

.popup__title {
    color: #FFF;
    text-align: center;
    font-family: 'TrajanSansPro-Bold';
    font-size: 48px;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/christmas/bg-popup.jpg);
    background-size: cover;
    z-index: 999;
}

.popup.active {
    display: flex;
    justify-content: center;
}

.popup__container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.popup__header {
    padding-top: 60px;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
}



.mode-arrow {
    top: 45%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: absolute;
    z-index: 44;
    transition: .4s opacity;
}

.mode-arrow:hover {
    opacity: .7;
}

.mode-arrow-next {
    right: -4vw;
}

.mode-arrow-prev {
    left: -4vw;
}

.popup__content {
    position: relative;
}

.mode__slider {
    max-width: 60vw;
    width: 100%;
    overflow: visible;
}

.mode__slide:has(+ .swiper-slide-prev) {
    opacity: 0;
    visibility: hidden;
}

.swiper-slide-prev {
    transform: translate3d(0px, 0px, -400px) rotateX(0deg) rotateY(0deg) scale(1)
}

.swiper-slide-prev .swiper-slide-shadow-left {
    opacity: 1 !important;
}

.swiper-slide-next .swiper-slide-shadow-right {
    opacity: 1 !important;
}

.swiper-slide-next {
    transform: translate3d(0px, 0px, -400px) rotateX(0deg) rotateY(0deg) scale(1);
}

.error__message {
    margin-top: 5px;
    color: #FF6F6F;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    display: none;
}

.error .error__message {
    display: block;
}

.error .form__field-input {
    border: 1px solid #FF6F6F;
}

.form__field.error:after {
    display: none;
}


.registration__success {
    display: none;
}

.registration__success.active {
    display: block;
}

.registration__success-row {
    display: flex;
    gap: 80px;
}

.registration__success h4 {
    color: #FFF;
    font-family: 'TrajanSansPro-SemiBold';
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
}

.registration__success-col:last-child {
    padding: 50px 0;
}

.registration__success-col p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    opacity: .8;
    margin-top: 12px;
    margin-bottom: 32px;
}

.registration__success-col:last-child p {
    opacity: .6;
}

.registration__success-box {
    border-radius: 24px;
    position: relative;
}

.registration__success-box:after {
    content: '';
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: 100%;
    border-radius: inherit;
    background: radial-gradient(106.8% 45.71% at 50% 30.71%, #FFE8BD 31.33%, rgba(84, 54, 0, 0.6) 100%)
}

.registration__success-content {
    border-radius: inherit;
    padding: 50px 60px;
    z-index: 1;
    position: relative;
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 21.48%, #CB8D08 100%),
        radial-gradient(106.8% 45.71% at 50% 30.71%, #FFE8BD 31.33%, rgba(84, 54, 0, 0.6) 100%);
}

.registration__success-field {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.10);
    padding: 14px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.registration__success-col {
    flex: 1;
}

.registration__success-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.registration__success-label {
    color: rgba(255, 255, 255, .6);
}

.registration__success-value {
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
}

.btn-confirm {
    background: radial-gradient(128% 100% at 50% 0%, #2F68B7 2.6%, #182E57 56.77%, #1F2C5A 100%),
        radial-gradient(106.8% 45.71% at 50% 30.71%, #D0DBEB 31.33%, rgba(13, 30, 53, 0.6) 100%);
}

.registration__success .mini__game-prize-overlay {
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 21.48%, #CB8D08 100%),
        radial-gradient(106.8% 45.71% at 50% 30.71%, #FFE8BD 31.33%, rgba(84, 54, 0, 0.6) 100%);
}

.registration__success .mini__game-prize:after {
    background: radial-gradient(106.8% 45.71% at 50% 30.71%, #FFE8BD 31.33%, rgba(84, 54, 0, 0.6) 100%);
}

.registration__success .prize__title {
    font-weight: 500;
}

.main__scrolls {
    position: absolute;
    z-index: 1;
    top: 20vh;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0px;
    justify-content: center;
    /* margin-left: 140px; */
}

.main__scrolls a {
    display: flex;
    align-items: center;
}

.main__scroll-comfort {
    width: 164px;
    height: 197px;
    background-image: url(../img/christmas/scroll-1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: -40px;
}

.main__scroll-comfort:hover {
    background-image: url(../img/christmas/scroll-1-hover.png);
}

.main__scroll-hardcore {
    width: 146px;
    height: 199px;
    background-image: url(../img/christmas/scroll-2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.main__scroll-hardcore:hover {
    background-image: url(../img/christmas/scroll-2-hover.png);
}

.banner__prizes {
    background: url(/assets/img/christmas/banner__prizes-bg.png);
    background-position: bottom;
    background-color: #FFF;
}



@media screen and (max-height: 830px) {
    .mode__slide img {
        max-height: 60vh;
    }
}

@media screen and (max-height: 740px) {
    .mode__slide img {
        max-height: 50vh;
    }
}

@media screen and (min-width: 768px) {
    .popup-mode .swiper-pagination-bullet-custom {
        width: 35px;
        height: 35px;
        background: none;
        cursor: default;
    }

    .popup-mode .swiper-pagination-bullet-custom span {
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-image: url(../img/christmas/icon-mode-pagination.svg);
    }

    .popup-mode .swiper-pagination-bullet-custom--active span {
        background-size: 35px 35px;
        background-image: url(../img/christmas/icon-mode-pagination-active.svg);
    }

    .popup-mode .swiper-pagination {
        gap: 160px;
        background-image: url(../img/christmas/pagination-bg.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        bottom: -60px;
    }
}

@media screen and (max-width: 1500px) and (max-height: 820px) {
    .christmas-page .main .container {
        margin-bottom: 0;
    }

    .main__scroll-comfort {
        width: 124px;
        height: 127px;
    }

    .christmas-page .main__header {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 1500px) and (max-height: 900px) {
    .main__header .btn-wrapper {
        margin-top: 32px;
    }
}


@media screen and (max-height: 766px) {
    .popup__header {
        padding-top: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1680px) {
    .h1-title {
        font-size: 39px;
    }

    .scrolls {
        margin-bottom: 70px;
    }

    .btn {
        font-size: 16px;
    }

    .mode-arrow-prev {
        left: 4vw;
    }

    .mode-arrow-next {
        right: 4vw;
    }
}

@media screen and (max-width: 1440px) {
    .registration__account {
        gap: 30px;
    }

    .mini__game {
        max-width: 50vw;
    }

    .main__content {
        max-width: 700px;
        margin-bottom: 25px;
    }

    .h1-title {
        font-size: 28px;
    }

    .btn-bordered-box {
        padding: 18px 28px;
    }

    .timer-text {
        font-size: 12px;
    }

    .title-count {
        font-size: 20px;
    }

    .friends-block {
        gap: 30px;
    }

    .account-block {
        max-width: 700px;
    }

    .btn-group {
        gap: 30px;
    }

    .account-btn {
        width: 100%;
    }

    .white-text {
        font-size: 15px;
    }

    .form__field-button .btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 1350px) {
    .header.fixed .header__box .start-game {
        display: none;
    }

    .scrolls {
        margin-bottom: 10px;
    }

    .subtitle {
        font-size: 16px;
    }

    .subtitle_light {
        max-width: 730px;
    }

    .btn-wrapper {
        margin-bottom: 30px;
    }

    .title-count {
        font-size: 16px;
    }

    .sub-count {
        font-size: 10px;
    }

    .timer-block {
        width: 50px;
        height: 50px;
    }

    .account-btn .btn-bordered-box {
        padding: 16px 19px;
    }

    .account-btn img {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 1024px) {
    .mode__slider {
        max-width: 90%;
    }

    .mode__slide img {
        max-height: 60vh;
    }

    .main__content {
        max-width: 550px;
        margin-bottom: 20px;
    }

    .h1-title {
        font-size: 23px;
    }

    .btn-wrapper {
        margin-bottom: 20px;
    }

    account-block {
        max-width: 500px;
    }

    .white-text {
        font-size: 10px;
    }

    .roulette__prize:nth-child(4) .game__list-item {
        width: 100px;
        height: 100px;
    }

    .roulette__prize:nth-child(3) .game__list-item,
    .roulette__prize:nth-child(5) .game__list-item {
        width: 84px;
        height: 84px;
    }

    .roulette__prize:nth-child(2) .game__list-item,
    .roulette__prize:nth-child(6) .game__list-item {
        width: 68px;
        height: 68px;
    }

    .roulette__prize:nth-child(1) .game__list-item,
    .roulette__prize:nth-child(7) .game__list-item {
        width: 52px;
        height: 52px;
    }

    .game__list-item_overlay {
        padding: 16px;
    }
}

@media screen and (max-width: 992px) {

    .burger__menu {
        padding-bottom: 90px;
    }

    .burger__menu .start-game {
        display: block !important;
    }

    .burger__menu-footer,
    .social-block {
        display: none;
    }

    .icon-smile {
        background-image: url(../img/svg/icon-devil__silver.svg);
    }

    .website-title {
        font-size: 14px;
    }

    .main {
        /* убрать */
        padding-top: 32px;
        background-size: cover;
    }

    .main__content {
        /* убрать */
        margin-top: 150px;
        margin: 0 0 20px 0;
    }

    .h1-title {
        text-align: left;
    }

    .subtitle {
        text-align: left;
    }

    .btn-group {
        flex-direction: column;
    }

    .account-btn {
        width: 100%;
    }

    .find-acc {
        width: 100%;
    }

    .block-icons {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 767px) {

    .header {
        height: 56px;
    }

    .white-text {
        font-size: 11px;
    }

    .prize__title__gold {
        font-size: 14px;
    }

    .btn {
        font-size: 10px;
    }

    .main__scrolls {
        display: none;
    }

    .registration__account {
        flex-direction: column-reverse;
        gap: 48px;
    }

    .mini__game {
        margin: 0;
        width: calc(100vw + 40px);
        max-width: 100%;
    }

    .game__box .btn {
        width: 100%;
        text-align: center;
    }

    .game__wrap {
        padding-top: 0;
    }

    .game__list {
        margin-top: -8px;
    }

    .game__box-footer {
        margin-top: 12px;
    }

    .form__field-input {
        font-size: 16px;
    }

    .popup__header {
        position: static;
        padding-top: 95px;
        padding-bottom: 10px;
    }

    .popup__title {
        font-size: 24px;
    }

    .popup__back {
        font-size: 14px;
        top: 20px;
        left: 10px;
    }

    .popup__close {
        top: 15px;
        right: 10px;
    }

    .icon-close {
        width: 30px;
        height: 30px;
    }

    .mode__slider {
        padding: 0;
    }

    .popup-mode .swiper-navigation {
        display: none;
    }

    .popup-mode .swiper-pagination {
        bottom: -50px;
    }

    .popup-mode .swiper-pagination-bullet-custom--active {
        background: radial-gradient(128% 100% at 50% 0%, #FFC342 2.6%, #9F6E03 57.29%, #9F6E03 60.94%, #FF8717 100%);
    }

    .popup {
        max-width: 100vw;
    }

    .mode__list {
        gap: 7px;
    }

    .account-block .btn-group {
        flex-direction: column;
    }

    .christmas-page .banner__prizes__title {
        font-size: 24px;
    }

    .christmas-page .start-game__footer .btn-bordered-box {
        width: 100%;
    }

    .christmas-page .banner__prizes .subtitle_light {
        text-align: center;
        margin-top: 8px;
    }

    .christmas-page .friends-block {
        flex-direction: column;
    }

    .type-game {
        height: auto;
        margin-top: 80px;
        padding-bottom: 80px;
    }

    .mode__list-item {
        display: flex;
        justify-content: center;
        filter: brightness(1);
    }

    .mode__list-item img {
        max-height: 374px;
        margin: 0 auto;
    }

    .christmas-page .main__header {
        background: none;
    }

    .christmas-page .main {
        padding-top: 80px;
        min-height: calc(70vh + env(safe-area-inset-bottom));
        background-image: url(../img/christmas/bg-mobile.png);
        align-items: flex-start;
        position: relative;
        height: auto;
    }

    .christmas-page .main .video {
        height: 53vh;
        top: 60px;
    }

    .christmas-page .main video {
        object-position: 72%;
        height: 100%;
    }

    .christmas-page .main .video:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 30px;
        background: linear-gradient(180deg, rgba(7, 11, 24, 0.00) 0%, rgba(7, 11, 24, 0.61) 42.08%, #070B18 100%);
        width: 100%;
        left: 0;
        right: 0;
    }

    .christmas-page .main:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(7, 11, 24, 0.00) 0%, rgba(7, 11, 24, 0.61) 42.08%, #070B18 100%);
        height: 20px;
    }

    .christmas-page .main:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -40px;
        top: 0;
        right: 0;
        width: 50%;
        border-radius: 446px;
        background: rgba(7, 11, 24, 0.40);
        filter: blur(75px);
        height: 60vh;
        z-index: 0;
    }

    .christmas-page .main .container {
        z-index: 1;
        margin-top: 0;
    }

    .christmas-page .main .btn-wrapper {
        position: absolute;
        bottom: calc(30px + env(safe-area-inset-bottom));
        right: 0;
        left: 0;
    }

    .christmas-page .main__footer .btn-wrapper .btn {
        font-size: 14px;
        width: calc(100% - 40px);
    }

    .christmas-page .main__footer .btn-bordered-box {
        padding: 13px 23px;
    }

    .christmas-page .main__content {
        margin-bottom: 32px;
        position: static;
    }

    .type-game:before,
    .type-game:after {
        height: 30px;
    }

    .type-game:before {
        height: 300px;
    }

    .timer {
        justify-content: flex-start;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .timer-countdown .timer-block {
        width: 27px;
        height: auto;
        background: transparent;
        backdrop-filter: none;
        flex-direction: row;
        position: relative;
    }

    .timer-countdown {
        padding: 9px 26.5px;
        border-radius: 6px;
        background: rgba(5, 9, 22, 0.40);
        backdrop-filter: blur(11px);
        gap: 0;
    }

    .title-count {
        font-size: 16px;
    }

    .sub-count {
        display: none;
    }

    .timer-block:not(:last-child):after {
        content: ':';
        display: block;
        position: absolute;
        right: -2px;
        top: 0;
    }

    .christmas-page .h1-title {
        font-size: 28px;
    }

    .create-acc {
        padding-top: 100px;
        margin-bottom: 2px;
    }

    .create-acc .subtitle_light {
        text-align: left;
        color: #E2F4FF;
        max-width: 335px;
    }

    .game__box-btn .btn {
        font-size: 14px;
    }

    .form__field-input {
        height: 52px;
    }

    .christmas-page .friends {
        padding-top: 100px;
    }

    .christmas-page .discord-block-wrap iframe {
        margin-top: 0;
    }

    .christmas-page .friends .h2-title_black,
    .christmas-page .friends .subtitle_dark {
        text-align: center;
    }

    .christmas-page .friends .block-subtitle {
        max-width: unset;
    }

    .christmas-page .account-btn {
        width: 100%;
    }

    .christmas-page .account-btn .btn-bordered-box {
        padding: 10px 35px;
    }

    .christmas-page .account-btn .white-text {
        font-size: 14px;
        font-family: 'TrajanSansPro-SemiBold';
    }

    .christmas-page .friends-block {
        gap: 40px;
    }

    .christmas-page .account-block .btn-group {
        margin-bottom: 24px;
    }

    .christmas-page .account-block .white-text {
        font-size: 14px;
        margin-top: 6px;
    }

    .christmas-page .banner__prizes .subtitle_light {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .type-game .subtitle_light {
        margin-bottom: 32px;
    }

    .form__registration {
        gap: 16px;
    }

    .christmas-page .banner__prizes-left-img {
        left: 0;
        top: auto;
        bottom: 240px;
        z-index: 3;
        max-width: 100%;
    }

    .christmas-page .banner__prizes__wrapper {
        margin: 0 auto;
        padding-top: 190px;
    }

    .christmas-page .start-game__footer .btn {
        font-size: 14px;
    }

    .account-block .btn-group {
        gap: 12px;
    }

    .prize__preview {
        width: 46px;
        height: 46px;
    }

    .prize__subtitle {
        font-size: 14px;
    }

    .prize__title {
        font-size: 16px;
        font-weight: 500;
    }

    .christmas-page .banner__prizes {
        padding-bottom: 100px;
    }


    .christmas-page .banner__prizes .container {
        position: relative;
        z-index: 4;
    }

    .christmas-page .banner_prizes-bg-mobile {
        top: 90px;
        z-index: 3;
    }

    .christmas-page .footer {
        padding-top: 120px;
    }

    .christmas-page .banner__prizes__body_wrap {
        background: radial-gradient(148.25% 807.19% at 32.2% 110.25%, #357DEA 0%, #090F27 47.52%);
    }

    .christmas-page .banner__prizes-bg-2 {
        display: block;
        z-index: 5;
        bottom: 0;
        top: 290px;
        max-width: 200px;
        width: 100%;
    }

    .bg-image {
        background: url(../img/christmas/section-bg.png);
        height: 300px;
        background-size: 160%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .christmas-page .bg-image .mobile-hidden {
        display: none !important;
    }

    .christmas-page .create-acc .h2-title {
        max-width: 240px;
    }

    .type-game .h2-title {
        max-width: 240px;
    }

    .type-game .subtitle_light {
        color: #E2F4FF;
    }

    .main__header .subtitle {
        font-family: 'Manrope-Medium', sans-serif;
    }

    .create-acc {
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .form__field-input {
        outline: none;
        -webkit-appearance: none;
        border: none;
    }

    .form__field-button {
        position: static;
    }

    .form__field-button:after {
        display: none;
    }

    .btn-bordered-box {
        text-align: center;
    }

    .tooltip {
        bottom: 0;
        position: fixed;
        border-radius: 20px 20px 0px 0px;
        background: #1F232F;
        top: auto;
        left: 0;
        right: 0;
        width: 100%;
        padding: 20px 20px 40px 20px;
        padding-right: 62px;
        transform: translateY(100%);
        z-index: 34;
        transition: .4s transform;
    }

    .tooltip.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .body__overlay::after {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 33;
        background: rgba(7, 11, 24, .3);
    }

    .tooltip .icon-close {
        display: block;
    }

    .error__message {
        font-size: 12px;
        line-height: 130%;
    }

    .registration__success {
        margin: 0 -20px;
    }

    .registration__success-row {
        flex-direction: column;
        gap: 48px;
    }

    .registration__success-value {
        font-size: 14px;
        font-weight: 500;
    }

    .registration__success-field {
        padding: 9px 14px;
    }

    .registration__success-content {
        padding: 32px 20px;
    }

    .registration__success-col h4 {
        font-size: 16px;
    }

    .registration__success-col p {
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 4px;
        max-width: 90%;
    }

    .registration__success-col:last-child p {
        opacity: 1;
    }

    .registration__success-col:last-child {
        padding: 0 20px;
    }

    .registration__success-col .btn {
        width: 100%;
        font-size: 14px;
    }

    .form__field .icon {
        top: 14px;
    }

    .social-block {
        display: flex;
    }

    .pass-wrap {
        height: 52px;
    }

    html,
    body {
        overflow-x: hidden;
    }

}

@media screen and (max-width: 440px) {
    .christmas-page .banner_prizes-bg-mobile {
        top: 0;
    }
}

@media screen and (max-width: 395px) {
    .christmas-page .banner_prizes-bg-mobile {
        top: 90px;
    }
}

@media screen and (max-width: 375px) {
    .changes-text .subtitle_light {
        max-width: 295px;
    }

    .christmas-page .banner_prizes-bg-mobile {
        top: 100px;
    }
}

@media screen and (max-height: 992px) {
    .christmas-page .h1-title {
        font-size: 30px;
    }
}

/* 
@media screen and (max-height: 880px) {
    .main__scrolls {
        top: 20vh;
    }
}

@media screen and (max-height: 820px) {
    .main__scrolls {
        top: 10vh;
    }
} */


@media screen and (min-width: 1920px) {
    .main__scrolls {
        left: 120px;
        top: 26vh;
    }
}

@media screen and (max-width: 1920px) {
    .main__scrolls {
        left: 100px;
        top: 26vh;
    }
}

@media screen and (max-width: 1640px) {
    .main__scrolls {
        left: 90px;
    }
}

@media screen and (max-width: 1440px) {
    .main__scrolls {
        top: 23vh;
    }
}

@media screen and (max-height: 740px) {
    .main__scrolls {
        background-size: 60%;
    }
}

@media screen and (max-height: 600px) {
    .main__scrolls {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .main__scroll-hardcore {
        background-size: 60%;
    }

    .main__scroll-comfort {
        margin-right: -50px;
        background-size: 70%;
    }
}

/* @media screen and (max-width: 1300px) {
    .main__scrolls a {
        background-size: 60%;
    }

    .main__scroll-hardcore {
        width: 126px;
        height: 110px;
    }

    .main__scroll-comfort {
        margin-right: -60px;
        width: 126px;
        height: 110px;
    }

    .main__scrolls {
        left: 60px;
        top: 26vh;
    }
} */


@media screen and (max-width: 768px) and (max-height: 680px) {
    .christmas-page .main {
        height: calc(75vh + env(safe-area-inset-bottom));
    }
}

@media screen and (max-width: 380px) {
    .christmas-page .main {
        height: calc(75vh + env(safe-area-inset-bottom));
    }

    .christmas-page .main .video {
        height: 68vh;
    }

    .christmas-page .main .btn-wrapper {
        bottom: calc(-5px + env(safe-area-inset-bottom));
    }
}

@media screen and (max-width: 1536px) and (max-height: 730px) {
    .main__scrolls {
        top: 18vh;
    }
}

@media screen and (max-width: 1024px) {
    .main__scrolls {
        display: none;
    }
}

/* 
@media screen and (min-width: 1100px) and (max-height: 590px) {
    .main__scrolls {
        display: none;
    }
} */

@media screen and (max-width: 1500px) and (max-height: 900px) {
    .main__header .btn-wrapper {
        margin-top: 32px;
    }

    /* 
    .main__scrolls {
        top: 24vh;
    } */
}

/* 
@media screen and (max-width: 1024px) {
    .main__scrolls {
        top: 16vh;
    }
}

@media screen and (min-width: 768px) {
    .main__scrolls {
        top: 30vh;
    }
} */