.game__box {
    border-radius: 24px;
    border: 2px solid #A5DEFE;
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 22.04%, #0E93DE 100%);
    max-width: 727px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 42px 0;
    margin: 0 auto;
    /* убрать */
}

.game__wrap {
    padding-top: 12px;
}

.game__box-header {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    padding: 0 32px;
}

.game__box-header:before,
.game__box-header:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
}

.game__box-header:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='299' height='2' viewBox='0 0 299 2' fill='none'%3E%3Cpath d='M299 0.999974L0 1' stroke='url(%23paint0_linear_2682_5144)' stroke-opacity='0.5'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2682_5144' x1='-16.445' y1='0.500001' x2='299' y2='0.499974' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.game__box-header:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='298' height='2' viewBox='0 0 298 2' fill='none'%3E%3Cpath d='M4.52995e-06 0.999987L298 1' stroke='url(%23paint0_linear_2682_5145)' stroke-opacity='0.5'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2682_5145' x1='314.39' y1='1.5' x2='1.16901e-05' y2='1.49999' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.game__box-header .icon-chevron-down {
    background-image: url(../img/christmas/icon-chevron-down.svg);
    width: 42px;
    min-width: 42px;
    height: 42px;
    display: inline-block;
}

.game__box-footer {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 38px;
    padding: 0 32px;
}

.game__box-footer:before,
.game__box-footer:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
}

.game__box-footer:before {
    background-image: url("data:image/svg+xml,%3Csvg width='331' height='2' viewBox='0 0 331 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M331 0.999971L0 1' stroke='url(%23paint0_linear_2682_5141)' stroke-opacity='0.5'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2682_5141' x1='-18.205' y1='0.500002' x2='331' y2='0.499971' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.game__box-footer:after {
    background-image: url("data:image/svg+xml,%3Csvg width='332' height='2' viewBox='0 0 332 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.6226e-06 0.999985L332 1' stroke='url(%23paint0_linear_2682_5142)' stroke-opacity='0.5'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2682_5142' x1='350.26' y1='1.5' x2='1.30263e-05' y2='1.49999' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}


.game__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.game__list-item {
    border-radius: 16px;
    position: relative;
    background-clip: padding-box;
    display: inline-flex;
    align-items: stretch;
    transition: .4s transform, .1s width, .1s height;
}

.game__list-item:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: 0;
    border-radius: 16px;
    transition: .4s opacity;
    opacity: 0;
}

.game__list-item.active:after {
    opacity: 1;
    background: radial-gradient(106.8% 45.71% at 50% 30.71%, #FFE8BD 31.33%, rgba(84, 54, 0, 0.6) 100%);
}

.game__list-item_overlay {
    background: rgba(255, 255, 255, 0.20);
    width: inherit;
    height: inherit;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    position: relative;
    z-index: 2;
    padding: 20px;
    transition: .4s background;
}

.roulette__list {
    align-items: center;
}

.game__list-item.active .game__list-item_overlay {
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 21.48%, #CB8D08 100%),
        radial-gradient(106.8% 45.71% at 50% 30.71%, #FFE8BD 31.33%, rgba(84, 54, 0, 0.6) 100%);
}

.game__list-item img {
    border: 1px solid #FFA80A;
    border-radius: 8px;
}

.roulette {
    overflow: hidden;
}

.roulette__list {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.roulette__prize {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 120px;
}

.roulette__prize:last-child {
    margin-right: 0 !important;
}

.game__box .btn {
    align-self: center;
}

.roulette__prize:nth-child(4) .game__list-item {
    width: 120px;
    height: 120px;
}

.roulette__prize:nth-child(3) .game__list-item,
.roulette__prize:nth-child(5) .game__list-item {
    width: 104px;
    height: 104px;
}

.roulette__prize:nth-child(2) .game__list-item,
.roulette__prize:nth-child(6) .game__list-item {
    width: 88px;
    height: 88px;
}

.roulette__prize:nth-child(1) .game__list-item,
.roulette__prize:nth-child(7) .game__list-item {
    width: 72px;
    height: 72px;
}

@media screen and (max-width: 767px) {
    .game__list-item {
        border-radius: 12px;
    }

    .roulette__prize {
        height: 90px;
        margin-right: 10px !important;
    }

    .roulette__prize:last-child {
        margin-right: 0 !important;
    }

    .game__list-item_overlay {
        padding: 16px;
    }

    .game__list-item img {
        border-radius: 6px;
    }

    .roulette__prize:nth-child(4) .game__list-item {
        width: 90px;
        height: 90px;
    }

    .roulette__prize:nth-child(3) .game__list-item,
    .roulette__prize:nth-child(5) .game__list-item {
        width: 78px;
        height: 78px;
    }

    .roulette__prize:nth-child(2) .game__list-item,
    .roulette__prize:nth-child(6) .game__list-item {
        width: 66px;
        height: 66px;
    }

    .roulette__prize:nth-child(1) .game__list-item,
    .roulette__prize:nth-child(7) .game__list-item {
        width: 54px;
        height: 54px;
    }
}