body {
    background: url(../img/server/main-bg.png) no-repeat center;
    /* background-color: #070B18; */
    background-size: cover;
    color: #fff;
    height: 100vh;
}

/* HEADER */
.header__anchor {
    display: flex;
    gap: 32px;
    background: rgba(7, 11, 24, .2);
    padding: 23px 0;
}

.header__anchor-link {
    color: #E2F4FF;
    font-family: 'Manrope-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 0.16px;
    transition: color .4s ease;
}

.header__anchor-link:hover {
    color: #FFC039;
    transition: color .4s ease;
}

.main__content {
    display: flex;
}

.main__content-text {
    position: relative;
    width: 100%;
}

.main__content-text .btn-bordered:after {
    z-index: -1;
    /* background: linear-gradient(203deg, #FF4343 14.82%, #400707 85.18%, #040815 85.18%); */
    background: linear-gradient(223deg, #FF4343 24.82%, #400707 95.18%);
    border-radius: 30px;
}

.main__content-text .news-icon {
    top: 86px;
    left: 10px;
    padding: 1px 1px;
}

.main__content-text .news-icon .btn-bordered-box {
    padding: 4px 10px;
}

.main__content-text .news-icon__text {
    font-size: 14px;
}

.main__content-text-items {
    margin: 50px 0;
}

.main__content-text-title {
    font-family: 'TrajanSansPro-Bold', sans-serif;
    font-size: 72px;
    line-height: 120%;
    margin-top: 132px;
}

.main__content-text-desc {
    font-family: 'Manrope-SemiBold', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
}

.main__content-image {
    position: relative;
    width: 100%;
    top: -50px;
    left: 150px;
}

.main-img-fire {
    position: absolute;
    bottom: 70px;
    left: 115px;
    width: 100%;
    /* background: url(/assets/img/server/main-fire.png) no-repeat center; */
}

.main__content-text-item {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 6px;
}

.main__content-text-item:not(:last-child) {
    margin-bottom: 12px;
}

.main__content-text-item img {
    width: 48px;
    height: 48px;
}

.text-item {
    font-family: 'TrajanSansPro-Semibold', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
}

.main__content-btn {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 165px;
}

.main__content-btn .more-info {
    margin-top: 0;
}

.main__footer-items {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.main__footer-item {
    display: flex;
    gap: 16px;
    align-items: center;
    text-align: left;
}

.main__footer-img {
    width: 84px;
    height: 84px;
}

.main__foter-text-title {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Manrope-Medium', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.main__foter-text-desc {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.32);
    font-family: 'TrajanSansPro-Bold', sans-serif;
    font-size: 18px;
    line-height: 140%;
}

/* STATISTICS */
.server-statistics {
    background-color: #000;
}

.server-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistics-img {
    width: 100%;
}

.server-online-count {
    font-size: 24px;
}

.statistics-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.statistics-card {
    width: 100%;
    max-width: 440px;
}

.table__item-box {
    gap: 8px;
}

.server-statistics .table__item-row:not(:first-child) {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.table__item-col.server-id {
    justify-content: center;
}

.server-more-btn {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.32);
    font-family: 'TrajanSansPro-Bold';
    font-size: 20px;
    line-height: 140%;
    padding: 16px 24px 12px 24px;
    text-align: center;
}

.server-more-info.table__item-gold .table__item-inner_box {
    background: radial-gradient(210.47% 265.42% at 50% -20%, #040815 22.04%, #CB8D08 70%);
}

.server-more-info.table__item-red .table__item-inner_box {
    background: radial-gradient(280.47% 265.42% at 50% 0%, #040815 12.04%, #FF4343 60%);
}

.table__item-pink .table__item-inner_box {
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 22.04%, #DB99D4 60%);
}

.server-more-info .table__item-inner_box {
    padding: 1px 24px;
}

/*  PLAY */
.server-play {
    position: relative;
    background: url(/assets/img/server/play-bg.png);
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    width: 100%;
    margin-bottom: 200px;
}

.server-play::after {
    content: "";
    background: url(/assets/img/server/sword.png);
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    bottom: -8vh;
    left: 0;
    right: 0;
}

.server-play-block {
    display: flex;
}

.server-play-box {
    margin-bottom: 32px;
}

.server-play-block {
    text-align: center;
}

.server-play-text .block-title {
    margin-bottom: 4px;
}

.delimiter {
    /* position: center;
    top: -10%; */
}

/* SET */
.server-set {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    max-height: 858px;
    height: 100%;
}

.server-set__basic,
.server-set__enhanced,
.server-set__premium {
    display: flex;
    position: relative;
    left: 0;
    background: radial-gradient(788.21% 259.35% at 11.38% 113.41%, #F6FAFF 21.43%, #92BDFF 87.5%);
    border-radius: 24px;
    padding: 40px 32px;
}

.server-set__epic {
    display: flex;
    position: relative;
    left: 0;
    background: radial-gradient(943.14% 345.99% at -23.85% 123.07%, #357DEA 18.13%, #090F27 72.69%);
    border-radius: 24px;
    padding: 40px 32px;
}

.server-set__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.server-set-title {
    color: #0D142D;
    font-family: 'TrajanSansPro-Semibold', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
}

/* тоже самое что и .server-set__header */
.server-set-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.server-set-body {
    display: flex;
    gap: 14px;
}

.server-set-img {
    width: 32px;
    height: 32px;
}

.server-set-text {
    color: #0D142D;
    font-family: 'Manrope-Medium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.server-set-limit {
    color: #052E73;
    font-family: 'Manrope-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

.server-set__new-price {
    color: #052E73;
    font-family: 'TrajanSansPro-Bold', sans-serif;
    font-size: 36px;
    line-height: 140%;
    margin-right: 14px;
}

.server-set__old-price {
    color: #052E73;
    font-family: 'TrajanSansPro-Semibold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    margin-right: 14px;
    text-decoration: line-through;
}

.server-set__end-promo {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 26px;
}

.server-set__footer .btn-blue {
    width: 100%;
    padding: 0;
}

.server-set__footer .more-info {
    padding: 0;
    margin-top: 0;
}

.server-set-title__white,
.server-set-text__white,
.server-set__new-price__white,
.server-set__old-price__white {
    color: #fff;
}

.server-set-limit__white {
    color: #E2F4FF;
}

.server-set__footer .btn {
    text-align: center;
    width: 100%;
    padding-bottom: 0;
}

.server-questions {
    background: url(../img/server/question-bg.png);
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 100vh;
}

.server-questions .block-title {
    color: #FFF;
}

.server-questions .h2-title_black {
    margin-bottom: 60px;
}

.questions-content {
    display: flex;
    gap: 20px;
}

.question-block {
    padding: 42px 32px;
    background: #0D142D;
    color: #FFF;
    border-radius: 32px;
}

.content-questions {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 578px;
    width: 100%;
}

.content-answers {
    max-width: 762px;
    width: 100%;
}

.question-text {
    color: #FFF;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.32);
    font-family: 'TrajanSansPro-Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 160%;
    align-items: center;
    display: flex;
    gap: 16px;
    transition: color .4s ease;
}

.question-text.active,
.question-text:hover {
    color: #FFC039;
    cursor: pointer;
    transition: color .4s ease;
}

.question-text.active::before {
    content: url(../img/server/svg/rhombus__active.svg);
    /* background-image: url(../img/server/svg/rhombus__active.svg); */
    background-size: contain;
    height: 24px;
    width: 24px;
}

.question-desc {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Manrope-Medium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

.question-desc:not(:last-child) {
    margin-bottom: 8px;
}

.main,
server-benefits,
.server-statistics,
.server-play,
/* .server-set, */
.server-questions,
.server-settings,
.server-features {
    padding-bottom: 200px;
}

.server-set {
    margin-bottom: 200px;
}


.server-questions {
    padding-top: 150px;
}

.server-settings {
    background-color: #000;
}

.server-settings .server-box {
    max-width: 508px;
}

.server-settings .server-block_wrapper {
    background: radial-gradient(230.47% 295.42% at 50% 0%, #040815 22.04%, #CB8D08 100%);
}

.settings-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 32px;
}

.settings-tab-content {
    display: flex;
    padding: 20px 16px;
    gap: 16px;
}

.settings-tab-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;
}

.setting-title {
    color: #FFF;
    font-family: 'TrajanSansPro-Semibold', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
}

.setting-desc {
    color: #E2F4FF;
    font-family: 'Manrope-Medium', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}